apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-ollama
  labels:
    app: aeron
    component: ollama
spec:
  replicas: 1
  selector:
    matchLabels:
      app: aeron
      component: ollama
  template:
    metadata:
      labels:
        app: aeron
        component: ollama
    spec:
      containers:
        - name: ollama
          image: "{{ .Values.ollama.image.repository }}:{{ .Values.ollama.image.tag }}"
          imagePullPolicy: {{ .Values.ollama.image.pullPolicy }}
          ports:
            - containerPort: 11434
          volumeMounts:
            - name: ollama-storage
              mountPath: /root/.ollama
          resources:
            {{- toYaml .Values.ollama.resources | nindent 12 }}
      volumes:
        - name: ollama-storage
          persistentVolumeClaim:
            claimName: {{ .Release.Name }}-ollama-pvc
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ .Release.Name }}-ollama-pvc
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: {{ .Values.global.storageClass }}
  resources:
    requests:
      storage: {{ .Values.ollama.storage.size }}
---
apiVersion: v1
kind: Service
metadata:
  name: ollama
spec:
  selector:
    app: aeron
    component: ollama
  ports:
    - protocol: TCP
      port: 11434
      targetPort: 11434

